{{ define "home/404.tmpl" }}
{{ template "globals/header.tmpl" .}}
<div role="main" id="main">
    <h3 id="aboutTitle">404</h3>
    <div id="presentation" class="prestext">
        <p id="generalPresentation">
            Content not found.
        </p>
    </div>
</div>
{{ template "globals/footer.tmpl" .}}
{{ end }}