{{ define "home/contact.tmpl" }}
{{ template "globals/header.tmpl" .}}
<div role="main" id="main">
    <h3 id="aboutTitle">Contact</h3>
    <div id="presentation" class="prestext">
        <p id="generalPresentation">
            How to contact me.<br />

            <br />
            <b>Note:</b> I will never support any kind of centralized services such as Telegram, Signal or Discord for official contacts as nobody on these platforms can spin up their own servers and interract with others.
            <br />

            <h4>Matrix</h4>
            Two accounts there:
            <ul>
                <li>&#64;&#109;&#101;&#58;&#106;&#97;&#101;&#46;&#102;&#105; - Main one, ping this one for faster response.</li>
                <li>&#64;&#109;&#101;&#58;&#106;&#97;&#101;&#46;&#115;&#117; - Backup account, only if very important or other offline.</li>
            </ul>

            <h4>Email</h4>
        <br />
        If you really need to contact me with email, use &#106;&#97;&#101;&#64;&#99;&#111;&#117;&#110;&#116;&#101;&#114;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;.
        <br />
        <details>
  <summary>&#106;&#97;&#101;&#64;&#99;&#111;&#117;&#110;&#116;&#101;&#114;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109; GPG key</summary>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

xsFNBGEvQRABEADmpQdOY1Vv0D4vX5q6b7eltQHzHJ4ndmFynhneQ+Y70J42
w5TGVwwe6RTJ0kdhckJGh4jWMB9nyQQbhwTTcMvspHdh+6lCAwSgVya5scG7
r4cNLsGWgIGkSuN2W70O1i8d/n1mCQ63DejWqk3+BfjE81eR9G8S8qfr+QiI
stE4Ud9XUH9i/ihQp4AbMF9nGlEqWq7A4nV1h5ff1a0etDLtOUkEU7m/ZGNH
d8u5prApq8dY4DB+fQJBoCXy6bEEPdM+6JTMlPybUDQDdHlBo8aSmxrUjnyL
BdREBg3tvvwPR5il0UOBNSGVGDxA/zJk5k+92svPf/c+X0CsMnnvBA2SzTvE
w02UBesyfj0+ceiqqHpjOzjeTd6JYIpQzizk+WU/LLH8Y8Uzvfek7xZ+kuSF
AFMzr7IPnd4xJiorp23ri+7RelYkqGv9VcwDvK3SfSXEwS2w3cHiROPU+4C0
27IZHRMyXUZ8QEcP8tOUY6toQabGBJMf8J7I0qduFZsiI21xUA5DQ8TJ4046
QHFSYwDPYd3BU6ON7Tv7QTUfSbdsslAlHFuRcK8DBWP5QIoAlncOwe2+lVS6
GVjX8uW5fXFnWLwLdBxXxHwZ6Nk16WHnoFBYvMoPa4A/sT7B6bUtbtNNOdkX
qL18IxS8oIH1hP3Gh5JxnXkM2z4eXHYgbRnVqwARAQABzSsiamFlQGNvdW50
ZXJtYWlsLmNvbSIgPGphZUBjb3VudGVybWFpbC5jb20+wsF1BBMBCAApBQJh
Vs4QBgsJBwgDAgkQoorM1Heqbz0EFQgKAgMWAgECGQECGwMCHgEAAE7fD/45
myXH0uwxIbHPw0Q6/OJEr5elGOPTXtGkewUQNkAzEwL28Zfsyh8ODlQwYcZW
G3ePjbouS+CHHtDO0UyL7dn86saVODGsY3dlpcLW5TFB5ybYItlj3tk3J423
7FzplCaY+DPNDbjXE5ry/MEQKwG8infiXEVPdtJq8g2iWqEt08PjP5us+Umy
dUH8kept9iMsXYKCcjhtdcG2r42cZkMtapIEyE4Ot3SH5zYiXXCixO8G8X49
b4qtPG65PzVENxbfu9kXITJ7mCAMeQngvBz8DvLLjq00J8afgCr1CdUSXBi/
JfozyBGpjvHRaIukUfOEzLakIPAo2h0u4HX2IFF2kJnn8QEimnkuX7I6+kv2
pfnxO0As69g0a5Te10pUjH37Rh2CMcf7LUECndxPKhukJuexNVK/ApAZ9oI4
pJ0SrIqQzoFL8EGT8dj/AXylgp9uv4FKA+nU1rOBQ5ce+zb8nFnhlxdsdjTO
aFz/8Qr6AQwYwCK4E6COYH9Agk3IzPRtthdyPWiA9/TRX5qWlR6jrxOBKe24
6fb+6yXcY2rmHziLtXVJboU2qVBgenuMsUFtrE6blHfK4tlocieE6mLVl290
bkA2lZRiiZ0NqkHN47MhYxjVUIK657+va2Ftcj8i7uQINbdDDW2blXDzLvcM
m+uk2QppM8lOFvdspTbUzc0ZImphZUBqYWUuc3UiIDxqYWVAamFlLnN1PsLB
cgQTAQgAJgUCYVbOEAYLCQcIAwIJEKKKzNR3qm89BBUICgIDFgIBAhsDAh4B
AAB/YA//Uzqw22ZcZcWhrT2B12uTEB6KA+bDYMWn3j6PHXjpUaL36f5yX7Et
FY+Ub3CyA5zzkxHB7d82yt3Dpqk300O/YAB7Y/jQKT6JvCzYBn8GlW3JPddA
JY32qdSJSQ/7sFj+vi2+n3W6zZETRBeDLrF7LjfBm4jMCiQCmyzvi/rwziZb
pr/QuFOIbZq0Nf4w+ENEWw6K73m3kBxlwirYaXZExN3t4GOWzFRMMURiUE+f
ViY5ujTF49OjgbkMOlU1+0HgX8foaHqqoGOKd2DWTBPThzgT4XAcj+VLYnpd
b8KiXB5axjshTOh6b1Qal9CudgjgB+P6/UfZI6PxTb31/yKRs3MBdDmeOO90
0WUPawBsmRDA0ZOy3MGyxup6sBpo09KtvScb304oZSnksm0IakD3I5n2qWmA
TJDUPeD/ST6aP0bUvAZiSgXP8DO1I6nS5w442c351u0wYc7XyCluHtGvxbEs
hL7fv7DFwo6x+ReVTMcl4P9M+SxtJ6Msc3vOAbX917VItKUC/Gz5U+TNv73X
AFg6XFB9tfyNkWZDmhn9y1XW9oT5C70tk++62B0swN7PdXvwcQYlWGxeED36
BMHLIjCGo7TelzKgyVA+J441Q4B+POrsxjsokEbxViYPZsnIek1l1TVKDKcH
JXWC6aZROtEBrQ93nA5id312+aRwxYHOwU0EYS9BEAEQAKw2N45KohA7xtyc
NczPkMJX7SaeFgBGUEjh5xHB+oHR4pYG/QjZFwsrP32Xg/Fksv2t1wklKhGZ
RS9nHcdIL7vlTChCemfBWZcCCMbNcWrzaXM/hix2XGY8ve5EhV7KaPtqAW3S
mVchNggkwh0fh5mC+jfsqlMk3IS2IU7sj6PjrzDRYFNKCM6w25o91QSe9JWF
PMy6PALeEWFMq+t3L/5f/yPg2ABDDj5iPNacIqwh4Gq0bLvJrsV58/orhj2V
uUlS/SihG3MJHQjGiIcd+XcMVSxZlaT6ecuty2aSUcCHqpe0qFNUhF57oufL
H9YVcoM8hHqIP5oqL5wDX1cUsJnaS91ElKWCDjp/N0fgj79CAW0+4FQE+2+m
PZ8gD2zYD7xpm82wGGUMpz4FnkVBEJzqW3vqjEbNULU3Jr+CyRZQeXtI0tbd
ZgUEll7MkJuLkbohGPHhGuEoQd5TBgKtlWJYRPeHXgwS6dwe9AxAiEK3soMd
6VOZWwB/TdRWueb/3ev1fq3/eErAcpz2jdDnBw/sHNDE3QPfCAg20timTgGj
wd8Fjue1CsxYpgHdbDK6SUAj/1F1IjXp+IYKgc+paIwPrhbZCMxDOELhmZDy
f9W2YXE/h2FWUnjZVBJHswTh8CReh1GrdMt2JI0JVGGzEckNpmz9vKa+Fw6N
N5sQcjy9ABEBAAHCwV8EGAEIABMFAmFWzhAJEKKKzNR3qm89AhsMAACggg/+
JMI2iC626nvo6RGPB5eYxgUX3476iBUE0W2lESax+gHjHNpELiW1rEX4OQjH
9zAecqbWWfYL13EMpdokJ+XJXvnKR800n8jb5EupfuuZHu0YnnITzX5GU+a2
qZPXG0wamgRnz9DV+bP4Vy1MN0FG/erFnKm1CXPBQfk0nAqjS5YtF+0in9DD
03lR8DbY8mKiw90MG1lY5ww8cawjeSnJRR1oATaeRJ/I9A0c6ODnE5kDdFjs
U2xMKAoQpbRguqEK6WUhdKIMzTnU30c+ea9V0bjxaF0+n1aheaoKWCkG7QRF
w31DaJ9+fA5wfyPwbJ20ezCBTt4+YiHPBoDknO8tZwQV+y41ZPyQ81wzIaH3
tyGcCr3YpEgtwtgJ6C0ir4qfsNzWmBKJ3AGz4UTnZcKWuCoZO7QfvUjvFhhI
AB3jRAGKrZi4D9DYXlCl9CSK9xVwlxlr5JA0jvBzXH8odNA1BiOj/OqR2VgQ
KoYxQSvmJRfT5PQDBz5t+UZ7f8iGQlCa92yoq+sYLozf8W/By2QEsnJcISql
9dVpPxZBeiEX2xxSh2eDxiumOzdPO4UEbAiFPQpd5WWmaf9jk3BY/xEhNUKy
Laf8KtwNCogNgN80vAynV7HUnt3wJTGkmZIJ9Ugw6yDy2iIgkbyGu8vstGVw
ZB2OZwGDtnIvHT3q0qYCU9g=
=+FIj
-----END PGP PUBLIC KEY BLOCK-----
</pre>
</details>
        <br/>
        <b>Small note on the secured channel email:</b>
        <br/>
        <b>If you are using a gmail, hotmail, yahoo or any addresses coming from unsafe providers, please encrypt your emails with a PGP key. PGP signature is a requirement, even for others, all emails failing to pass that test will be rejected.</b>
        </p>
    </div>
</div>
{{ template "globals/footer.tmpl" .}}
{{ end }}