{{ define "home/donation.tmpl" }}
{{ template "globals/header.tmpl" .}}
<div role="main" id="main">
    <h3 id="aboutTitle">About Donations</h3>
    <div id="presentation" class="prestext">
        Hello, if you are here, it's that you at some point wanted to donate for X or Y reason.<br/><br/>
        TL;DR: I do not want nor need your money, I already got a job that covers all my expenses. Please donate it to other people and organizations that needs it.<br/><br/>
        To get you started, here is a small list of stuff you can donate to:
        <ul>
            <li><a href="https://www.helloasso.com/associations/fransgenre/formulaires/1">Fransgenre</a> - A french nonprofit that aims to help trans people.</li>
            <li><a href="https://echap.eu.org/nous-soutenir/">Echap</a> - A french nonprofit that helps and does sensibilisation work around how technologies can be used to commit violences against women.</li>
            <li><a href="https://framasoft.org/en/#support">Framasoft</a> - A french nonprofit that aims to promote free software and free culture. They are also the ones pushing for Peertube and Mobilizon.</li>
            <li><a href="https://tedomum.net/page/finances/">TeDomum</a> - A french nonprofit that hosts free and Open-Source services.</li>
            <li><a href="https://www.laquadrature.net/en/support/">La Quadrature Du Net</a> - A french nonprofit that focuses on digital rights.</li>
            <li><a href="https://sci-hub.se/donate">Sci-Hub</a> - Open and free education for everyone.</li>
        </ul>
        Welp, I do not have more ideas to continue this list. Also include your favourite content creator or anyone that might need your help at some point.
    </div>
</div>
{{ template "globals/footer.tmpl" .}}
{{ end }}
