{{ define "home/stuff.tmpl" }}
{{ template "globals/header.tmpl" .}}
<div role="main" id="main">
    <h3 id="aboutTitle">My Stuff</h3>
    <div id="presentation" class="prestext">
        <p id="generalPresentation">
            Here is my current hardware.<br/>
            Desktop computer:
            <ul>
                <li>CPU: AMD Ryzen 7 3700x</li>
                <li>GPU: Nvidia RTX 3060Ti</li>
                <li>RAM: 16GB DDR4</li>
                <li>Monitor: Asus VG279QM 1080@280Hz</li>
                <li>Keyboard: Razer Huntsman V2 Analog</li>
                <li>Headset: SteelSeries Arctis 1 Wireless</li>
                <li>Webcam: Logitech StreamCam</li>
                <li>OS: Windows 11 x86_64</li>
                <li>Mouse: Razer Basilisk X Hyperspeed</li>
                <li>Microphone: Shure MV7</li>
            </ul>
            Work laptop: <tt>MacBook Pro M1 16GB</tt>.<br/>
            Main server (selfhosted):
            <ul>
                <li>CPU: Intel(R) Xeon(R) X5670 @2.83Ghz x2</li>
                <li>RAM: 64GB DDR3 ECC</li>
                <li>OS: VMWare ESXi 7.0</li>
            </ul>
            Router:
            <ul>
                <li>Brand: Mikrotik</li>
                <li>Model: RB4011iGS+RM</li>
                <li>OS: RouterOS 7.2rc5</li>
            </ul>
        </p>

        <h4>Current network status</h4>
        <p>You can click on the image to make it bigger.</p>
        <a href="/assets/svgs/network-black.svg"><img style="path { fill: white; }" src="/assets/svgs/network.svg" alt="Schematic drawing of the current networking configuration."></a>
    </div>
</div>
{{ template "globals/footer.tmpl" .}}
{{ end }}