{{ define "home/timeline.tmpl" }}
    {{ template "globals/header.tmpl" .}}
    <p>Sorry about this page, it isn't optimized for accessibility yet.</p>
    <div class="container">
        <div class="timeline">

            <div class="timeline-month">
      April 2021
      <span>1 Entries</span>
            </div>
            <div class="timeline-section">
                <div class="timeline-date">
        28th
      </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="timeline-box">
                            <div class="box-title">
                                <i class="fad fa-syringe text-success" aria-hidden="true"></i>First time taking HRT
            </div>
                            <div class="box-content">
                                <a class="btn btn-xs btn-default pull-right">Details</a>
                                <br/><br/>
                None
            </div>
                            <div class="box-footer">- Jae</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-month">
            March 2021
            <span>2 Entries</span>
            </div>
            <div class="timeline-section">
                <div class="timeline-date">
                15th
            </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="timeline-box">
                            <div class="box-title">
                                <i class="fa fa-plane-arrival text-success" aria-hidden="true"></i>Arrived to Finland
            </div>
                            <div class="box-content">
                                <a class="btn btn-xs btn-default pull-right">Details</a>
                                <br/><br/>
                Departed from the Geneva Airport (GVA) at around 06:00 and arrived at the Helsinki Airport (HEL) at around 13:00.
            </div>
                            <div class="box-footer">- Jae</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-section">
                <div class="timeline-date">
                1st
            </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="timeline-box">
                            <div class="box-title">
                                <i class="fa fa-bell-school-slash text-success" aria-hidden="true"></i>Officially left school
            </div>
                            <div class="box-content">
                                <a class="btn btn-xs btn-default pull-right">Details</a>
                                <br/><br/>
                Left school to pursue a career in software development instead.
            </div>
                            <div class="box-footer">- Jae</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-month">
            February 2021
            <span>1 Entries</span>
            </div>
            <div class="timeline-section">
                <div class="timeline-date">
                ??th
            </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="timeline-box">
                            <div class="box-title">
                                <i class="fa fa-file-code text-success" aria-hidden="true"></i>Job opportunity
            </div>
                            <div class="box-content">
                                <a class="btn btn-xs btn-default pull-right">Details</a>
                                <br/><br/>
                Got a job opportunity located in Helsinki, Finland.
            </div>
                            <div class="box-footer">- Jae</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-month">
            September 2019
            <span>1 Entries</span>
            </div>
            <div class="timeline-section">
                <div class="timeline-date">
                1st
            </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="timeline-box">
                            <div class="box-title">
                                <i class="far fa-university text-success" aria-hidden="true"></i>Started university
            </div>
                            <div class="box-content">
                                <a class="btn btn-xs btn-default pull-right">Details</a>
                                <br/><br/>
                Location: Annecy, Upper-Savoy.
            </div>
                            <div class="box-footer">- Jae</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-month">
            April 2001
            <span>1 Entries</span>
            </div>
            <div class="timeline-section">
                <div class="timeline-date">
                28th
            </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="timeline-box">
                            <div class="box-title">
                                <i class="fa fa-user-plus text-success" aria-hidden="true"></i>Born
            </div>
                            <div class="box-content">
                                <a class="btn btn-xs btn-default pull-right">Details</a>
                                <br/><br/>
                Location: Annecy, Upper-Savoy.
            </div>
                            <div class="box-footer">- Jae</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br/>
    <br/>
    {{ template "globals/footer.tmpl" .}}
{{ end }}