{{ define "globals/footer.tmpl" }}
            <footer class="undernav" id="footer" role="contentinfo">
                        <br/>
                <small>Jae, robot on the internet since 2012<br/>
                    <a href="https://github.com/Jaedotmoe/go-jae.fi" >This website is Open-Source</a><br/>
                    🏳️‍⚧️<br/>
                    A <a href="https://dn0.eu/">DN0 System</a> production.
            </small>

    </main>

</body>

</html>
{{ end }}
