{{ define "globals/footer.tmpl" }}
    </main>

    <hr />

    <footer id="footer" role="contentinfo">
        <small>Jae, robot on the internet since 2012;
            <a href="https://github.com/Jaedotmoe/go-jae.fi" >This website is Open-Source</a>; <a href="https://bm.jae.fi/web/tor.txt">Tor URLs</a> and <a href="https://bm.jae.fi/web/tor.txt.minisig">Minisign signature</a>; 🏳️‍⚧️; Part of the <a href="https://devnullsystem.org/">/Dev/Null System</a>
            <br />
            Inspired by <img src="/assets/svgs/MOS.svg" height="30px" width="auto" alt="MOS Technologies logo" style="outline: none;transform: translateY(10px);" />
        </small>
    </footer>
</body>

</html>
{{ end }}