{{ define "globals/header.tmpl" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Jae's website - {{ .title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/main.css" />

    <!-- SEO -->
    <link rel="canonical" href="https://jae.fi{{ .path }}" />
    <link rel="alternate" href="https://jae.fi{{ .path }}" hreflang="x-default" />
    <link rel="alternate" href="https://jae.fi{{ .path }}" hreflang="en" />
    <link type="text/plain" rel="author" href="https://bm.jae.fi/web/humans.txt" />

    <meta name="description" content="Official website of Jae." />
    <meta name="keywords" content="Jae, developer, official, website, blog, technology, matrix, open-source" />
    <meta name="author" content="Jae" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light">

    <meta property="og:title" content="Official website of Jae" />
    <meta property="og:description" content="Official website of Jae" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://bm.jae.fi/web/jae.webp" />
    <meta property="og:url" content="https://jae.fi{{ .path }}" />

    <link rel="shortcut icon" href="/assets/favicon-16x16.png" />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body>
    <header>
        <div role="banner" class="banner">
            <h1 id="title">Jae Lo Presti <span class="sub">Software witch & sysadmin</span></h1>
        </div>
        <div class="nav">
            <ul role="navigation" aria-label="Menu">
                <p>Main navigation</p>
                <li><a href="/">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/gallery/">Gallery</a></li>
                <hr /><br />
                <p>Other stuff</p>
                <li><a href="/playlist">Playlist</a></li>
                <li><a href="/stuff">Hardware</a></li>
                <li><a href="/as">AS211696</a></li>
                <li><a href="/signatures">Signatures</a></li>
                <hr /><br />
                <p>Links</p>
                <li><a href="/matrixroom">Matrix Room</a></li>
                <li><a href="/stream">Stream</a></li>
                <li><a href="/tor">Onion</a></li>
            </ul>

            <footer id="footer" role="contentinfo">
                <small>Jae, robot on the internet since 2012<br/>
                    <a href="https://github.com/Jaedotmoe/go-jae.fi" >This website is Open-Source</a><br/>
                    🏳️‍⚧️<br/>
                    A <a href="https://dn0.eu/">DN0 System</a> production.<br/>
                    <a href="mailto:me@jae.fi" rel="me">me@jae.fi</a>
            </small>
            </footer>

        </div>
    </header>
    {{ if .stream_online }}
        <div>
            <h2>Stream is online!</h2>
            <p><a href="/stream">Click here to watch!</a></p>
        </div>
        <hr />
    {{ end }}

    <main>
{{ end }}
