/* Main variables */
:root {
    --bg-color: #1A1A1D;
    --text-color: #D1C4E9;
    --link-color: #F4511E;
}

@font-face {
    font-family: OpenSans;
    src: local("Open Sans"), url("/assets/OpenSans.ttf");
    font-display: auto;
}

@font-face {
    font-family: Inconsolata;
    src: local("Inconsolata"), url("/assets/Inconsolata.otf");
    font-display: auto;
}

/* Main properties */
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Open Sans, Arial, sans-serif;

    background-attachment: fixed;
    background-size: cover;

    font-size: 1.1rem;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

.gallery a {
    text-decoration: none;
}

img {
    max-width: 50vw;
    max-height: 50vh;
}

.gallery img {
    max-width: 150px;
    max-height: 150px;
}

ul {
    list-style: none;
}

li::before {
    content: "» ";
}

pre {
    background-color: #3F3F3F;
    max-width: fit-content;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    font-family: Inconsolata, Consolas, sans-serif;
}

code {
    background-color: #3E3E3E;
    font-family: Inconsolata, Consolas, sans-serif;
}

blockquote p::before {
    content: "> ";
}

/* SVG Icons */
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* Main title banner */
.banner {
    margin-left: 20vw;
}

.banner h1 {
    font-size: 3rem;
}

.banner .sub {
    border-left: 1px solid #37474F;
    padding-left: 1vw;
    font-size: 2rem;
}

/* Navigation */
.nav {
    position: relative;
    float: left;
    width: 15vw;
    height: 100vh;
    margin-left: 2vw;
    border-right:  1px solid #37474F;
}

.nav ul {
    list-style-type: none;
    direction: rtl;
}

.nav li {
    font-size: 1.3em;
    height: 100%;
    display: flex;
}

.nav hr {
    float: right;
    width: 5vw;
}

.nav li::before {
    content: "";
}

.nav footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-right: 1vw;
    padding-bottom: 5vh;
}

/* Content */
.content {
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    max-width: 90vw;
}

.undernav {
    display: none;
}

@media screen and (max-width: 1000px) {
    /* Main title banner */
    .banner {
        margin-left: 20vw;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .banner .sub {
        border-left: unset;
        padding-left: 1vw;
        font-size: 2rem;
    }

    /* Navigation */
    .nav {
        position: relative;
        float: unset;
        width: unset;
        height: unset;
        margin-left: 2vw;
        border-right:  unset;
    }

    .nav ul {
        list-style-type: none;
        direction: rtl;
    }

    .nav li {
        font-size: 1.3em;
        height: 100%;
        display: flex;
    }

    .nav hr {
        float: right;
        width: 5vw;
    }

    .nav li::before {
        content: "";
    }

    .nav footer {
        display: none;
    }

    /* Content */
    .content {
        position: relative;
        margin-left: 2vw;
        margin-right: 2vw;
        max-width: unset;
        padding-bottom: 15vh;
    }

    .undernav {
        float: right;
        text-align: right;
        padding-right: 2vw;
        display: unset;
    }
}
